
body {
	margin: 0px;
	background-color: black;
}

.overlay {
	/*position:fixed;*/
	/*top:0px;
	left:500px;*/
	/*padding-left: 500px*/
}

.vid, .can{
	position:fixed;
	top:40px;
}



#container {
	position : relative;
	width : 100vw;
	/*margin : 0px auto;*/
}

.faceElements{
	position:fixed;
}
#img{
	padding-top:10px;
}
canvas{
	position:fixed;
}


